body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.section-one,
.header,
.footer {
    background-color: #46242a;
}

.header {
    padding: 12px 100px 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.2s;
}

a:hover {
    color: #EDB64D; 
}

a:active {
    color: #893a3a;
}

.links-header {
    display: flex;
    gap: 22px;
}

.section-one {
    padding: 20px 100px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.flower-about {
    max-width: 500px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 0 2px 0;
}

h1 {
    font-size: 24px;
    color: #EDB64D;
}

.about-secondary,
.links-header {
    font-size: 18px;
    color: #c6cdd9;
}

.about-secondary {
    margin-top: 10px;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 800;
    color: #46242a;;
    transition-duration: 0.2s;
    box-shadow: 0 5px 5px 0 #0000002b, 0 6px 20px 0 #0000002b;
}

button:hover {
    background-color: #EDB64D; 
  }

button:active {
    background-color: #893a3a;
}

button, .container {
    background-color: #F8A797;
}

.container button:hover {
    background-color: #ffcccc; 
  }

.container button:active {
    background-color: #ffdddd; 
  }

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.icon {
    width: 160px;
    height: 160px;
    border-color: #F8A797;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    color: #656565; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.icon-one,
.icon-two,
.icon-three,
.icon-four {
    width: 160px;
}

.flower {
    width: 150px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.section-three {
    background-color: #f8a79760;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.signature {
    text-align: end;
    font-weight: 500;
}

.section-four {
    padding: 80px 100px;
}

.container {
    display: flex;
    border: none;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    color: #46242a;
}

h4 {
    font-size: 20px;
    margin: 0;
}

.container p {
    margin: 0;
    color: #46242a;
}

.container button {
    border-color: #46242a;
    border-width: 2px;
    border-style: solid;
}

.footer {
    padding: 40px;
    text-align: center;
    color: #F9FAF8;
}